@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: local('Source Sans Pro');
    src: url('fonts/SourceSansPro-Regular.ttf');

}

.newspaper-container{
    max-width: 700px;
    border-style: hidden;
    background-color: white;
    box-shadow: #ddd;
    margin: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
}

header{
    font-family: 'Abril Fatface';
}

.date{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
}

h1{
    text-align: center;
}

h5{
    font-family: 'Abril Fatface';
}

nav{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgray;
    list-style: none;
    margin: auto;
    background-color: white;
    position:sticky;
    top: 0px;
}

a:link{
    color: #777;
    text-decoration: none;
    font-size: small;
    font-family: 'Source Sans Serif',sans-serif;
    font-weight: 200;

}

ul,li{
    color: #777;
    margin-left:.5em;
    list-style: none;
    display: inline-block;
    margin: 4px;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}

main{
    border-bottom: .5px solid;
    border-color: lightgray;
    margin: 50px;

}

#p1{
    font-weight: 300;
    padding: 6px 6px;
}

h5{
    color:red;
}

article{
    font-family: 'Roboto Slab';


}
.more-articles{
    display: inline-flex;
}

.ts{
    width: 300px;
    font-weight: 300;
    align-items: center;

}

.tsp{
    padding: 6px 6px;
}

.caff{
    width: 300px;
    font-weight: 300;
    align-items: center;
    margin-left: 90px;
    
}

.caffp{
    padding: 6px 6px;
}

.grid-container{
    display: grid;
    grid-column: auto;
}
.grid-item1{
    width: 300px;
    font-weight: 300;
}
.marines{
    padding: 6px 6px;
}